# Values for fiware/keyrock Helm Chart
#
# Chart values file:
# ref: https://github.com/FIWARE/helm-charts/blob/main/charts/keyrock/values.yaml
#

## deployment specific configuration
statefulset:
  ## configuration of the image to be used
  image:
    ## keyrock image name
    ## ref: https://hub.docker.com/r/fiware/idm
    repository: fiware/idm
    ## tag of the image to be used
    tag: i4trust-rc7
    ## specification of the image pull policy
    pullPolicy: IfNotPresent
    
## Set either an ingress or openshift route for making Keyrock externally available
##
## openshift specific route definition. Will not work on plain k8s
route:
  ## -- should the deployment create openshift routes
  enabled: false   
## ingress configuration
ingress:
  ## should there be an ingress to connect keyrock with the public internet
  enabled: false

## database configuration for keyrock
db:
  ## host of the database to be used (K8s internal service hostname)
  host: mysql.marketplace.svc.cluster.local
  ## user for connecting the database
  user: root
  ## password for connecting the database (MySQL root password)
  password: <mysql-root-password>

## admin configuration for accessing keyrock
admin:
  ## username of the initial keyrock admin
  user: admin
  ## password of the initial admin
  password: <keyrock-admin-password>
  ## email address of the admin user
  email: my@mail.org

## -- Configuration of local key and certificate for validation and generation of tokens
token:
  # -- Enable storage of local key and certificate
  enabled: false

## a list of additional env vars to be set, check the keyrock docu for all available options
## ref: https://fiware-idm.readthedocs.io/en/latest/installation_and_administration_guide/environment_variables/index.html
additionalEnvVars:
  # Title to be displayed on default theme UI
  - name: IDM_TITLE
    value: i4Trust Marketplace IDP
  # Name of the database to be created within the MySQL
  - name: IDM_DB_NAME
    value: idm
  # Initialize and seed database on startup
  - name: IDM_DB_SEED
    value: "true"
